[Unit]
Description=code-server - Web-based VS Code IDE
Documentation=https://github.com/coder/code-server
After=network.target

[Service]
Type=exec
User={{ gastown_user }}
Group={{ gastown_user }}
WorkingDirectory=/home/{{ gastown_user }}
ExecStart=/usr/bin/code-server --bind-addr 0.0.0.0:10000 --auth password --config /home/{{ gastown_user }}/.config/code-server/config.yaml /home/{{ gastown_user }}
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
