{% if enable_letsencrypt | default(false) | bool %}
bind-addr: 127.0.0.1:10000
{% else %}
bind-addr: 0.0.0.0:10000
{% endif %}
auth: password
password: {{ codeserver_password }}
{% if enable_letsencrypt | default(false) | bool %}
cert: false
{% else %}
cert: true
{% endif %}
user-data-dir: /home/{{ roughneck_user }}/.local/share/code-server
