---
- name: Clone Gas Town repository
  become_user: "{{ gastown_user }}"
  git:
    repo: "{{ gastown_repo }}"
    dest: "/home/{{ gastown_user }}/gastown-src"
    version: "{{ gastown_branch }}"
    force: false

- name: Build Gas Town
  become_user: "{{ gastown_user }}"
  shell: |
    source /etc/profile.d/golang.sh
    cd /home/{{ gastown_user }}/gastown-src
    make build
    cp gt /home/{{ gastown_user }}/go/bin/gt
  args:
    executable: /bin/bash
    creates: "/home/{{ gastown_user }}/go/bin/gt"

- name: Check if Gas Town HQ exists
  stat:
    path: "/home/{{ gastown_user }}/gt"
  register: gt_hq

- name: Initialize Gas Town HQ
  become_user: "{{ gastown_user }}"
  shell: |
    source /etc/profile.d/golang.sh
    export PATH="$HOME/go/bin:$PATH"
    gt install /home/{{ gastown_user }}/gt --git
  args:
    executable: /bin/bash
  when: not gt_hq.stat.exists

- name: Add gt to PATH in bashrc
  lineinfile:
    path: "/home/{{ gastown_user }}/.bashrc"
    line: 'export PATH="$HOME/go/bin:$PATH"'
    create: true
    owner: "{{ gastown_user }}"
    group: "{{ gastown_user }}"
