---
- name: Ensure git is installed
  apt:
    name: git
    state: present

- name: Configure git user.name
  become_user: "{{ gastown_user }}"
  git_config:
    name: user.name
    value: "{{ git_user_name }}"
    scope: global

- name: Configure git user.email
  become_user: "{{ gastown_user }}"
  git_config:
    name: user.email
    value: "{{ git_user_email }}"
    scope: global

- name: Configure git default branch
  become_user: "{{ gastown_user }}"
  git_config:
    name: init.defaultBranch
    value: main
    scope: global
